# BIGTREETECH Eddy Coil connected to the SB2209 USB I2C port.
# Eddy Coil uses the toolhead MCU and does not have the Eddy USB's
# temperature compensation sensor.

# Software I2C
# [probe_eddy_current btt_eddy]
# sensor_type: ldc1612
# i2c_mcu: toolhead
# i2c_software_scl_pin: toolhead:gpio29
# i2c_software_sda_pin: toolhead:gpio28

#Hardware I2C
[probe_eddy_current btt_eddy]
sensor_type: ldc1612
i2c_mcu: toolhead
i2c_bus: i2c0h

descend_z: 2.0
x_offset: 0
y_offset: 21.42
speed: 10
lift_speed: 15
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.010
samples_tolerance_retries: 3

[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 20,30
mesh_max: 330,330
probe_count: 9,9
algorithm: bicubic
zero_reference_position: 175,175
scan_overshoot: 8

[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
description: Eddy frequency mapping helper from BTT, adapted for a 350 bed
gcode:
  BED_MESH_CLEAR
  G28
  G90
  G1 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y / 2} Z20 F6000
  PROBE_EDDY_CURRENT_CALIBRATE {rawparams}

[gcode_macro BED_MESH_SCAN]
description: Run a rapid Eddy bed mesh scan
gcode:
  BED_MESH_CALIBRATE METHOD=rapid_scan