# Case and Stealthburner lighting.

[neopixel case_lights]
# Leviathan NEOPIXEL data output. Configured as 25 LEDs left + 25 LEDs right,
# chained as one 50 LED strip. If you have 25 LEDs total, set chain_count: 25.
pin: PF10
chain_count: 50
color_order: GRB
initial_RED: 0.25
initial_GREEN: 0.25
initial_BLUE: 0.25

[delayed_gcode lights_ready]
initial_duration: 1
gcode:
  CASELIGHT_ON BRIGHTNESS=0.35
  SB_READY
